<!DOCTYPE html>
<html>
<head>
    <title>LED Controller</title>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}"/>
</head>
<body>

{# Container for Controls #}
<div class="container">
    <h2 class="display-2">LEDs</h2>
    <br>
    {# Button Grid #}
    <div class="row">
        <div class="col">
            <form method="post" action="/red/">
                <button type="submit" class="btn btn-danger" data-toggle="button" aria-pressed="false" autocomplete="off">
                  Red
                </button>
            </form>
        </div>
        <div class="col">
            <form method="post" action="/green/">
                <button type="submit" class="btnbtn-success" data-toggle="button" aria-pressed="false" autocomplete="off">
                  Green
                </button>
            </form>
        </div>
            <div class="col">
            <form method="post" action="/blue/">
                <button type="submit" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                  Blue
                </button>
            </form>
        </div>
    </div>

    </form>
</div>

<img src="{{ url_for('static', filename = 'ere_logo.png') }}" alt="User Image" width="823" height="322">
</body>
</html>
