<!DOCTYPE html>
<html>
<head>
    <title>LED Controller</title>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}"/>
</head>
<body>

<div class="container">
    <img src="{{ url_for('static', filename = 'ere_logo.png') }}" alt="User Image" width="823" height="322">
</div>

{# Container for Controls #}
<div class="container">
    <h2 class="display-2">LEDs</h2>
    <br>
    {# Button Grid #}
    <div class="row">
        <div class="col-md-2 offset-md-3">
            <button type="button" value="red" class="btn btn-red btn-primary button_control" id="button-red">Red</button>
        </div>
        <div class="col-md-2">
            <button type="button" value="green" class="btn btn-green btn-danger button_control" id="button-green">Green</button>
        </div>
        <div class="col-md-2">
            <button type="button" value="blue" class="btn btn-blue btn-primary button_control" id="button-blue">Blue</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button type="button" value="off" class="btn btn-black btn-primary button_control" id="button-off">Off</button>
        </div>
    </div>

</div>

</body>
</html>
