<!DOCTYPE html>
<html>
<head>
    <title>LED Controller</title>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}"/>
</head>
<body>

{# Container for Controls #}
<div class="container">
    <h2 class="display-2">LEDs</h2>
    <br>
    {# Button Grid #}
        <form method="post" action="/red/">
            <button type="submit" class="btn btn-danger" data-toggle="button" aria-pressed="false" autocomplete="off">
              Red
            </button>
        </form>
        <form method="post" action="/green/">
            <button type="submit" class="btn btn-success" data-toggle="button" aria-pressed="false" autocomplete="off">
              Green
            </button>
        </form>
        <form method="post" action="/blue/">
            <button type="submit" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
              Blue
            </button>
        </form>
</div>
    <div class="container">
        <form method="post" action="/off/">
            <button type="submit" class="btn btn-secondary" data-toggle="button" aria-pressed="false" autocomplete="off">
              Off
            </button>
        </form>
    </div>

</body>
</html>
